html {
  background-color: #fafafa;
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
}

input[type=text] {
  border: 2px #109bce solid;
  font-size: 16px;
  width: 95%;
}

button {
  width: 150px;
  height: 150px;
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  text-align: center;
  padding-top: 6px;
  margin: 10px;
  position: relative;
  border: none;
  background: #109bce;
  border-radius: 5px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #07526e, 0px 10px 5px #999;
}

button:hover {
  top: 3px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #07526e, 0px 5px 3px #999;
}

.blockchain_buttons {
  display: inline;
}

.blockchain_button {
  height: 25px;
  padding: 0.3em 1.2em;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  background: #109bce;
  border: none;
  text-align: center;
  box-shadow: none;
}

.blockchain_button:hover {
  top: 0;
  box-shadow: none;
}

.card {
  background: #ffffff;
  border-radius: 20px;
  padding: 10px;
  text-align: left;
}

.shadow { 
  box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
}

.thumbnail_image {
  border: 0;
  padding: 10px;
  height: 100px;
  width: 100px;
}